@import './variables';
@import './typography';

.allToursContainer {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px);
  }
  
.pageTitle {
  @include font-primary-semi-xxl;
  color: var(--dark-gray);
  text-align: center;
}

.pagination {
  margin-top: 30px;
}
