@import './variables';
@import './typography';

.toursContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('/assets/newyork2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
