@import './_variables.scss';

@mixin font-primary-regular {
    font-weight: $regular;
    font-size: $base-font-size;
}

@mixin font-primary-light {
    font-weight: $normal;
    font-size: $sm-font-size;
}

@mixin font-primary-light-xs {
    font-weight: $normal;
    font-size: $xs-font-size;
}

@mixin font-primary-light-base {
    font-weight: $normal;
    font-size: $sm-font-size;
}

@mixin font-primary-semi-sm {
    font-weight: $semi-bold;
    font-size: $sm-font-size;
}

@mixin font-primary-semi-xs {
    font-weight: $semi-bold;
    font-size: $xs-font-size;
}

@mixin font-primary-semi-base {
    font-weight: $semi-bold;
    font-size: $base-font-size;
}

@mixin font-primary-semi-md {
    font-weight: $semi-bold;
    font-size: $md-font-size;
}

@mixin font-primary-bold-xs {
    font-weight: $bold;
    font-size: $xs-font-size;
}

@mixin font-primary-bold-base {
    font-weight: $bold;
    font-size: $base-font-size;
}

@mixin font-primary-bold-base-sm {
    font-weight: $bold;
    font-size: $sm-font-size;
}

@mixin font-primary-bold-md {
    font-weight: $bold;
    font-size: $md-font-size;
}

@mixin font-primary-bold-base-lg {
    font-weight: $bold;
    font-size: $lg-font-size;
}

@mixin font-primary-bold-xl {
    font-weight: $bold;
    font-size: $xl-font-size;
}

@mixin font-primary-bold-xxl {
    font-weight: $bold;
    font-size: $xxl-font-size;
}

@mixin font-primary-mid-heavy {
    font-weight: $extra-bold;
    font-size: $subtitle-font-size;
}

@mixin font-primary-heavy {
    font-weight: $extra-bold;
    font-size: $xxl-font-size;
}

@mixin font-primary-ultra-heavy {
    font-weight: $extra-bold;
    font-size: $title-desktop-font-size;
}

@mixin font-primary-regular-xxs {
    font-weight: $regular;
    font-size: $xxs-font-size;
}

@mixin font-primary-regular-xxl {
    font-weight: $regular;
    font-size: $xxl-font-size;
}

@mixin font-primary-regular-xs {
    font-weight: $regular;
    font-size: $xs-font-size;
}

@mixin font-primary-bold-xxs {
    font-weight: $bold;
    font-size: $xxs-font-size;
}

@mixin font-primary-bold-title-mobile {
    font-weight: $bold;
    font-size: $title-desktop-font-size;
}