// FONTS
$font-primary: 'Poppins', sans-serif;

// FONT-SIZE
$xxs: 1rem;
$xs-font-size: 1.2rem;
$sm-font-size: 1.4rem;
$base-font-size: 1.6rem;
$md-font-size: 1.8rem;
$lg-font-size: 2rem;
$xl-font-size: 2.2rem;
$xxl-font-size: 2.4rem;
$subtitle-font-size: 3rem;
$title-mobile-font-size:  3.2rem;

// FONT-WEIGHT
$normal: 400;
$regular: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// BREAKPOINTS
$sx: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1366px;
$xxl: 1980px;
