@import './typography';
@import './variables';

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    text-align: center;
    color: var(--text-color);
    padding: 0 20px;
    transform: translateY(-90px);
    @include font-primary-regular-xxs;

    h1 {
        margin-bottom: 10px;
        // backdrop-filter: blur(5px);
        color: var(--main-content-text);
        // color: var(--text-color);
    }
}

@media (min-width: $sx) {
    .content {
        max-width: 500px;
        padding: 30px;
        transform: translateY(-90px);
    }

    .content h1 {
        @include font-primary-mid-heavy;
    }
}

@media (min-width: $sm) {
    .content {
        max-width: 700px;
        padding: 40px;
        transform: translateY(-65px);
    }

    .content h1 {
        @include font-primary-ultra-heavy;
        margin-bottom: 20px;
        padding: 0px;
    }
}
