// Light mode
.light-theme {
    --header-background: #D8D9DA;
    --header-text: #61677A;
    --icon-color: #272829;
    --drawer-text: #272829;
  }
  
  // Dark mode
  .dark-theme {
    --header-background: $background-primary-light;
    --header-text: #e0e0e0;
    --icon-color: #e0e0e0;
    --drawer-text: #e0e0e0;
  }
  