@import './../../styles/typography';
@import './../../styles/theme.scss';

.mainButton {
    background-color: var(--dark-gray);
    color: var(--form-text);
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.2s, color 0.2s;
    @include font-primary-bold-xs;
 
      &:hover {
      transform: scale(1.1);
    }
}
  